//COLORS
$color-pry-100: #d97e4a;
$color-pry-200: #0F0F0F;
$color-pry-300: #F2F2F2;
$color-pry-400: hsl(0, 0%, 98%);
$color-pry-500: hsl(0, 0%, 89%);
$color-pry-600: hsl(0, 0%, 81%);
$color-sec-100: hsl(21, 94%, 75%);
$color-sec-200: hsl(0, 0%, 100%);
$color-sec-300: hsl(0, 0%, 0%);
$color-sec-400: hsl(0, 0%, 10%);
$color-sec-500: hsl(0, 0%, 95%);
$color-sec-600: hsl(0, 0%, 90%);
$color-sec-700: hsl(0, 0%, 48%);

// FONTS
$font-pry-100: 'Manrope', sans-serif;
$font-weight-100: 200;
$font-weight-200: 400; 
$font-weight-300: 500; 
$font-weight-400: 700;

// WIDTH
$max-container: 69.375rem;
$center-container: 0 auto;

//BORDER
$border-radius: 0.5rem;

//ANIMATION 
$transition: all 0.5s;

//MEDIA QUERY
$mobile-mini:18.75rem;
$mobile : 36rem;
$tablet-mini: 49.125rem;
$tablet: 62rem;
$desktop: 75rem;
$mega-desktop: 93.75rem;

// :export {
//     color-pry-100: $color-pry-100;
//     color-pry-200: $color-pry-200;
//     color-pry-300: $color-pry-300;
//     color-pry-400: $color-pry-400;
//     color-pry-500: $color-pry-500;
//     color-pry-600: $color-pry-600;
//     color-sec-100: $color-sec-100;
//     color-sec-200: $color-sec-200;
//     color-sec-300: $color-sec-300;
//     color-sec-400: $color-sec-400;
//     color-sec-500: $color-sec-500;
//     color-sec-600: $color-sec-600;
//     color-sec-700: $color-sec-700;
//     font-pry-100: $font-pry-100;
//     font-weight-100:$font-weight-100;
//     font-weight-200:$font-weight-200; 
//     font-weight-300:$font-weight-300; 
//     font-weight-400:$font-weight-400;
//     max-container: $max-container;
//     center-container: $center-container;
//     border-radius: $border-radius;
//     transition: $transition;
//     mobile-mini:$mobile-mini;
//     mobile : $mobile;
//     tablet-mini: $tablet-mini;
//     tablet: $tablet;
//     desktop: $desktop;
//     mega-desktop: $mega-desktop;
// }