.container{
  display: flex;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    width: 2.5rem;
    height: 3rem;
    border: none;
    background-color: $color-sec-500;
    text-align: center;
    font-weight: $font-weight-400;
    font-family: $font-pry-100;
    &[custom="true"]{
      width: 2rem;
      height: 2rem;
      background-color: red;
    }

    &:active,
    &:hover,
    &:focus {
      outline: none;
    }
  }
  label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
.wrapper{
    max-width: 7.5rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-sec-500;
}
.custom{
    width: 6rem;
    height: 2rem;
    background-color: transparent;
}
.button{
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: $color-sec-500;
    font-weight: $font-weight-400;
    cursor: pointer;
    transition: $transition;
  
    &:hover {
      transition: $transition;
      background-color: $color-sec-600;
  
      svg {
        transition: $transition;
        color: black;
      }
    }
  
    svg {
      color: black;
      font-size: 0.5rem;
    }
}
.counter_btn{
    display: none !important;
    cursor: pointer;
    background-color: var(--color-pry-100);
    color: var(--color-sec-200);
    font-weight: var(--font-weight-400);
    min-height: 3rem;
    width: 10rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8125rem;
    border: none;
    letter-spacing: 0.0625rem;
    margin-left: 1rem;
    transition: var(--transition);
  
    &:hover {
      transition: var(--transition);
      background-color: var(--color-sec-100);
      color: var(--color-sec-200);
    }
}