.container{
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: $color-sec-200;
    border-radius: $border-radius;
    min-height: 10rem;
  
    @media screen and (min-width:$tablet-mini) {
      padding: 1rem 2.9rem 2rem 2.9rem;
    }
  
    @media screen and (min-width:$tablet) {
      position: sticky;
      top: 7rem;
    }
}
.heading{
    text-transform: uppercase;
    font-size: 1.125rem;
}
.wrapper{
    height: 15rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin !important;
    scrollbar-color: $color-pry-500 $color-sec-200;
  
    &::-webkit-scrollbar {
      width: thin;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: $border-radius;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: $border-radius;
      background-color: $color-pry-100;
    }
}
.empty_cart{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout_total{
  margin-top: 1rem;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
}
.detail{
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.5625rem;
  font-weight: $font-weight-400;
  color: $color-sec-700;
}
.amount{
  font-weight: $font-weight-400;
}
.grand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}
.total_amount{
  font-weight: $font-weight-400;
  color: $color-pry-100;
}
.btn{
  cursor: pointer;
  background-color: $color-pry-100;
  color: $color-sec-200;
  min-height: 3rem;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  transition: $transition;
  border: none;
  text-transform: uppercase;
  font-weight: $font-weight-400;
  font-family: $font-pry-100;
  letter-spacing: 0.0625rem;

  &:hover {
    transition: $transition;
    background-color: $color-sec-100;
    color: $color-sec-200;
  }
}