.container{
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.wrap{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header{
    color: $color-pry-100;
    font-size: 5rem;
    line-height: 5rem;
    @media screen and (min-width:18.75rem) {
        font-size: 9rem;
        line-height: 9rem;
    };
    @media screen and (min-width: 62rem) {
        font-size: 15rem;
        line-height: 15rem;
    };
}

.sub_header{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    a{
        color: $color-pry-100;
        font-weight: $font-weight-200;
        margin-left: 0.3rem;
        font-size: 0.9rem;

    &:hover {
        transition: $transition;
         color: $color-sec-100;
        text-decoration: underline;
        }
    }
}