.mobile_nav{
    display:none !important;
    @media screen and (max-width:786px) {
        display:flex !important;
    }
}

.mobile_menu__button{
    border:none;
    background-color:transparent;
    cursor:pointer;
    img{
        width:1.2rem;
        height:auto;
    }
}

.mobile_menu_item__container{
    position:absolute;
    background-color: $color-sec-200;
    width:100%;
    min-height:100%;
    top:0;
    left:0;
    right:0;
    margin-top:5rem;
    padding: 1rem;
    display: flex;
    flex-direction:column;
    border-radius:0rem 0rem 0.5rem 0.5rem;
    gap:1rem;

    & > * {
    //   flex:1;
      margin: 1rem auto 0rem auto;
    }
    @media screen and (min-width: 650px){
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        min-height:10rem;
    }
}