.navigator_container{
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    @media screen and (min-width:$tablet-mini) {
        padding: 0 2rem;
    }
}
.navigator_wrapper{
    min-height: 2.1875rem;
    max-width: $max-container;
    margin: $center-container;
    display: flex;
    align-items: flex-end;

    @media screen and (min-width:$tablet-mini) {
        min-height: 3.5rem;
    }
    @media screen and (min-width:$desktop) {
        min-height: 6rem;
    }
}
.navigator_btn{
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: $font-weight-300;
    background-color: transparent;
    color: $color-pry-200;
    letter-spacing: 0.05rem;

    &:hover{
        transition: $transition;
        color: $color-pry-100;
    }
}